<h1>Stupid Coaching</h1>

<form action="/answer">
  <div class="form-group form-check-inline">
    <label for="exampleInputEmail1">Ask your coach anything:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter question" name="ask">
  </div>
  <button type="submit" class="btn btn-primary">Ask!</button>
</form>
